<div class="background-login">
  <div class="card-login">

    <label for="login">Login:</label>
    <div class="input-group mb-3">
      <input id="login" type="text" class="form-control" placeholder="e-mail/nome de usuário..." aria-label="Login" aria-describedby="basic-addon1" [(ngModel)]="login">
    </div>


    <label for="senha">Senha:</label>
    <div class="input-group mb-3">
      <input id="senha" type="text" class="form-control" placeholder="Informe sua senha" aria-label="Senha" aria-describedby="basic-addon1" [(ngModel)]="senha">
    </div>
    <!-- <a href="">Esqueci minha Senha</a> -->
    <a href="/auth/cadastro-empresa">Sou novo Aqui</a>

    <button class="btn btn-dark" (click)="fazerLogin()">Login</button>
  </div>
</div>
