<div class="sidebar">
  <div class="row">
    <button (click)="abrirGrid(); toggleSidebar()">
      <img src="./../../../assets/icons/icon-grid.svg">
      DashBoard
    </button>
  </div>
  <div class="row">
    <button (click)="abrirPerfilUsuario(); toggleSidebar()">
      <img src="./../../../assets/icons/icon-profile.svg">
      Perfil
    </button>
  </div>
  <div class="row">
    <button (click)="sair()"><img src="../../../assets/icons/icon-logout.svg" alt="">Sair</button>
  </div>

</div>
