button{
  background: none;
  border: none;
  display: flex;
  align-items: center;
}

.menu{
  align-content: center;
  height: 10vh;
  width: 100%;
  padding: 1rem;
  background-color: rgb(48, 48, 48);
  display: flex;
}
